@model RTV.Models.Registration

@{
    ViewBag.Title = "Zaloguj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zaloguj się do systemu</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login Failed, check details");
    <div class="form-group">
        <fieldset>
            <div class="editor-label">@Html.LabelFor(u => u.Email)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Email)
            </div>
            <div class="editor-label">@Html.LabelFor(u => u.Password)</div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Password)
            </div><br>
            <input type="submit" value="Zaloguj się" class="btn "/>
        </fieldset>
    </div>
}  